@import URL("../global_css/textarea_font_dark.css");
@import Url("../global_css/visuals_dark.css");
@import url(../global_css/top_bar_dark.css);
@import url(../global_css/card_dark.css);

.icon_box{
    float: right;
    padding-top: 0.62%;
    width: 32px;
}

.view_fill{
    height: 100%;
}