#user_data_div{
    float: left;
    width: 100%;
    padding: 0.62%;
    box-sizing: border-box;
    clear: both;
}

h2{
    text-align: center;
}

h3{
    margin: 0;
    padding: 0;
    padding-top: 0.62%;
    margin-bottom: 0.62%;
    clear: both;
}

h3 hr{
    border: none;
}

.card{
    height: 75px;
}

.icon_box{
    float: right;
    padding-top: 0.62%;
    width: 32px;
}

.view_fill{
    height: 100%;
}