@import URL("../global_css/textarea_font_dark.css");
@import Url("../global_css/visuals_dark.css");
@import url(../global_css/top_bar_dark.css);
@import url(../create_article/create_article.css);

#title{
    border: solid 2px #004ba0;
    background: #212121;
    color: #FFFFFF;
}

#content{
    border: solid 2px #004ba0;
    background: #212121;
    color: #FFFFFF;
}

.article_context_text{
    color: #FFFFFF;
}

.article_count{
    color: #FFFFFF;
}

.submit_btn:hover{
    border: solid 2px #002171;
    color: #FFFFFF;
    background: #0d47a1;
}