@import URL("../global_css/textarea/textarea_font_light.css");
@import Url("../global_css/visuals/visuals_light.css");
@import url(../global_css/top_bar/top_bar_light.css);
@import url(../create_article/create_article.css);

#title{
    border: solid 2px #0075fc;
    background: #949494;
    color: #000000;
}

#content{
    border: solid 2px #0075fc;
    background: #949494;
    color: #000000;
}

.article_context_text{
    color: #000000;
}

.article_count{
    color: #000000;
}

.submit_btn:hover{
    border: solid 2px #002171;
    color: #000000;
    background: #0d47a1;
}