html, body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

hr{
    border: none;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.submit_btn, .edit_btn, .delete_btn{
    margin-top: 0.62%;
    padding: 10px;
    border-radius: 3px;
}

.error_text{
    margin-top: 5px;
}

.author{
    line-height: 130%;
    cursor: pointer;
}

.title{
    cursor: pointer;
}

.link_icon{
    float: right;
    padding-top: 0.62%;
    margin: auto;
}